@charset "UTF-8";
@import url("/_shared/css/homescreen.css");

:root {
  font-size: 10px;

  --theme-background: hsl(210, 100%, 56%);
  --theme-text: hsl(0, 100%, 100%);
  --content-background: hsl(0, 100%, 100%);
  --content-text: hsl(0, 0%, 20%);
  --footer-background: hsl(0, 0%, 20%);
  --footer-text: hsl(0, 100%, 100%);
}
